body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:632px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:182px;
  top:1px;
  width:450px;
  height:731px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:731px;
}
#u1 {
  position:absolute;
  left:2px;
  top:358px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:284px;
  top:202px;
  width:246px;
  height:41px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:41px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:242px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:284px;
  top:255px;
  width:246px;
  height:43px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:43px;
}
#u5 {
  position:absolute;
  left:2px;
  top:14px;
  width:242px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:325px;
  top:382px;
  width:65px;
  height:17px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:17px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:275px;
  top:365px;
  width:50px;
  height:50px;
  overflow:hidden;
}
#u8_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9 {
  position:absolute;
  left:10px;
  top:10px;
  width:32px;
  height:33px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:33px;
}
#u10 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11 {
  position:absolute;
  left:10px;
  top:10px;
  width:32px;
  height:33px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:33px;
}
#u12 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:284px;
  top:313px;
  width:246px;
  height:40px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-size:16px;
  color:#333333;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:40px;
}
#u13_img.mouseOver {
}
#u13.mouseOver {
}
#u13_img.mouseDown {
}
#u13.mouseDown {
}
#u14 {
  position:absolute;
  left:2px;
  top:11px;
  width:242px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:247px;
  top:120px;
  width:320px;
  height:26px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:26px;
}
#u16 {
  position:absolute;
  left:2px;
  top:5px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:421px;
  top:122px;
  width:21px;
  height:21px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u18 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:446px;
  top:122px;
  width:22px;
  height:21px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:21px;
}
#u20 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:471px;
  top:124px;
  width:21px;
  height:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u22 {
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:501px;
  top:122px;
  width:60px;
  height:16px;
  font-family:'Arial Black Black', 'Arial Black';
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
