body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:632px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:182px;
  top:-8px;
  width:450px;
  height:731px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:731px;
}
#u1 {
  position:absolute;
  left:2px;
  top:358px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:247px;
  top:112px;
  width:320px;
  height:26px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:26px;
}
#u3 {
  position:absolute;
  left:2px;
  top:5px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:421px;
  top:114px;
  width:21px;
  height:21px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u5 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:446px;
  top:114px;
  width:22px;
  height:21px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:21px;
}
#u7 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:471px;
  top:116px;
  width:21px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u9 {
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:501px;
  top:114px;
  width:60px;
  height:16px;
  font-family:'Arial Black Black', 'Arial Black';
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:247px;
  top:138px;
  width:320px;
  height:32px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:32px;
}
#u13 {
  position:absolute;
  left:2px;
  top:8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:248px;
  top:138px;
  width:33px;
  height:32px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:32px;
}
#u15 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:530px;
  top:136px;
  width:37px;
  height:33px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:33px;
}
#u17 {
  position:absolute;
  left:2px;
  top:8px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:248px;
  top:170px;
  width:319px;
  height:420px;
  overflow:hidden;
}
#u18_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:420px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u18_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19 {
  position:absolute;
  left:-4px;
  top:0px;
  width:325px;
  height:561px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:561px;
}
#u20 {
  position:absolute;
  left:2px;
  top:272px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:347px;
  top:170px;
  width:220px;
  height:110px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:110px;
}
#u22 {
  position:absolute;
  left:2px;
  top:47px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:373px;
  top:144px;
  width:84px;
  height:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
