body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:632px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:182px;
  top:-8px;
  width:450px;
  height:731px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:731px;
}
#u1 {
  position:absolute;
  left:2px;
  top:358px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:253px;
  top:540px;
  width:308px;
  height:40px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-size:16px;
  color:#333333;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:40px;
}
#u2_img.mouseOver {
}
#u2.mouseOver {
}
#u2_img.mouseDown {
}
#u2.mouseDown {
}
#u3 {
  position:absolute;
  left:2px;
  top:11px;
  width:304px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:247px;
  top:112px;
  width:320px;
  height:26px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:26px;
}
#u5 {
  position:absolute;
  left:2px;
  top:5px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:421px;
  top:114px;
  width:21px;
  height:21px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u7 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:446px;
  top:114px;
  width:22px;
  height:21px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:21px;
}
#u9 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:471px;
  top:116px;
  width:21px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u11 {
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:501px;
  top:114px;
  width:60px;
  height:16px;
  font-family:'Arial Black Black', 'Arial Black';
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:247px;
  top:138px;
  width:320px;
  height:32px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:32px;
}
#u15 {
  position:absolute;
  left:2px;
  top:8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:253px;
  top:144px;
  width:304px;
  height:15px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  color:#FFFFFF;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:15px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:248px;
  top:138px;
  width:33px;
  height:32px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:32px;
}
#u19 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:251px;
  top:269px;
  width:314px;
  height:50px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:50px;
}
#u21 {
  position:absolute;
  left:2px;
  top:17px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:253px;
  top:321px;
  width:308px;
  height:50px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:50px;
}
#u23 {
  position:absolute;
  left:2px;
  top:17px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:258px;
  top:381px;
  width:52px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:412px;
  top:381px;
  width:52px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:253px;
  top:169px;
  width:314px;
  height:47px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:47px;
}
#u29 {
  position:absolute;
  left:2px;
  top:16px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:251px;
  top:218px;
  width:314px;
  height:51px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:51px;
}
#u31 {
  position:absolute;
  left:2px;
  top:18px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:253px;
  top:427px;
  width:315px;
  height:103px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:103px;
}
#u33 {
  position:absolute;
  left:2px;
  top:44px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:410px;
  top:402px;
  width:85px;
  height:25px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#999999;
  font-weight:normal;
  font-style:italic;
  text-decoration:none;
}
#u35 {
  position:absolute;
  left:500px;
  top:402px;
  width:40px;
  height:26px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:26px;
}
#u36 {
  position:absolute;
  left:2px;
  top:5px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:520px;
  top:412px;
  width:200px;
  height:200px;
  overflow:hidden;
  visibility:hidden;
}
#u37_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u37_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:185px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:185px;
}
#u39 {
  position:absolute;
  left:2px;
  top:84px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:10px;
  top:10px;
  width:22px;
  height:18px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:12px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:18px;
}
#u41 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:128px;
  top:10px;
  width:22px;
  height:18px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:12px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:18px;
}
#u43 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:37px;
  top:12px;
  width:86px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:12px;
  text-align:center;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:15px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:10px;
  top:50px;
  width:145px;
  height:125px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u48 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:20px;
  top:0px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u50 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:40px;
  top:0px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u52 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:60px;
  top:0px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u54 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:80px;
  top:0px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u56 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:100px;
  top:0px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u58 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:120px;
  top:0px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u60 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:0px;
  top:20px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u62 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:20px;
  top:20px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u64 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:40px;
  top:20px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u66 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:60px;
  top:20px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u68 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:80px;
  top:20px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u70 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:100px;
  top:20px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u72 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:120px;
  top:20px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u74 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:0px;
  top:40px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u76 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:20px;
  top:40px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u78 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:40px;
  top:40px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u80 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:60px;
  top:40px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u82 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:80px;
  top:40px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u84 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:100px;
  top:40px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u86 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:120px;
  top:40px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u88 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:0px;
  top:60px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u90 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:20px;
  top:60px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u92 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:40px;
  top:60px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u94 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:60px;
  top:60px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u96 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:80px;
  top:60px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u98 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:100px;
  top:60px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u100 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:120px;
  top:60px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u102 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:0px;
  top:80px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u104 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:20px;
  top:80px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u106 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:40px;
  top:80px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u108 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:60px;
  top:80px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u110 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:80px;
  top:80px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u112 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:100px;
  top:80px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u114 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:120px;
  top:80px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u116 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:0px;
  top:100px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u118 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:20px;
  top:100px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u120 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:40px;
  top:100px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u122 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:60px;
  top:100px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u124 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:80px;
  top:100px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u126 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:100px;
  top:100px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u128 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:120px;
  top:100px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u130 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:10px;
  top:35px;
  width:17px;
  height:14px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:11px;
  text-align:center;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:14px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:130px;
  top:35px;
  width:17px;
  height:14px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:11px;
  text-align:center;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:14px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:30px;
  top:35px;
  width:17px;
  height:14px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:11px;
  text-align:center;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:14px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:50px;
  top:35px;
  width:17px;
  height:14px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:11px;
  text-align:center;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:14px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:70px;
  top:35px;
  width:17px;
  height:14px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:11px;
  text-align:center;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:14px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:90px;
  top:35px;
  width:17px;
  height:14px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:11px;
  text-align:center;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:14px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:110px;
  top:35px;
  width:17px;
  height:14px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:11px;
  text-align:center;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:14px;
}
#u144 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:258px;
  top:397px;
  width:85px;
  height:25px;
}
#u145_input {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#999999;
  font-weight:normal;
  font-style:italic;
  text-decoration:none;
}
#u146 {
  position:absolute;
  left:348px;
  top:397px;
  width:40px;
  height:26px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:26px;
}
#u147 {
  position:absolute;
  left:2px;
  top:5px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:368px;
  top:407px;
  width:200px;
  height:200px;
  overflow:hidden;
  visibility:hidden;
}
#u148_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u148_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:185px;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:185px;
}
#u150 {
  position:absolute;
  left:2px;
  top:84px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:10px;
  top:10px;
  width:22px;
  height:18px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:12px;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:18px;
}
#u152 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:128px;
  top:10px;
  width:22px;
  height:18px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:12px;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:18px;
}
#u154 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:37px;
  top:12px;
  width:86px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:12px;
  text-align:center;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:15px;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:10px;
  top:50px;
  width:145px;
  height:125px;
}
#u158 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u159 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:20px;
  top:0px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u161 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u162 {
  position:absolute;
  left:40px;
  top:0px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u163 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u164 {
  position:absolute;
  left:60px;
  top:0px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u165 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u166 {
  position:absolute;
  left:80px;
  top:0px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u167 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u168 {
  position:absolute;
  left:100px;
  top:0px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u169 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u170 {
  position:absolute;
  left:120px;
  top:0px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u171 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u172 {
  position:absolute;
  left:0px;
  top:20px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u173 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u174 {
  position:absolute;
  left:20px;
  top:20px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u175 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u176 {
  position:absolute;
  left:40px;
  top:20px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u177 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u178 {
  position:absolute;
  left:60px;
  top:20px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u179 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u180 {
  position:absolute;
  left:80px;
  top:20px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u181 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u182 {
  position:absolute;
  left:100px;
  top:20px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u183 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u184 {
  position:absolute;
  left:120px;
  top:20px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u185 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u186 {
  position:absolute;
  left:0px;
  top:40px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u187 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u188 {
  position:absolute;
  left:20px;
  top:40px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u189 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u190 {
  position:absolute;
  left:40px;
  top:40px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u191 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u192 {
  position:absolute;
  left:60px;
  top:40px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u193 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u194 {
  position:absolute;
  left:80px;
  top:40px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u195 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u196 {
  position:absolute;
  left:100px;
  top:40px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u197 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u198 {
  position:absolute;
  left:120px;
  top:40px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u199 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u200 {
  position:absolute;
  left:0px;
  top:60px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u201 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u202 {
  position:absolute;
  left:20px;
  top:60px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u203 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u204 {
  position:absolute;
  left:40px;
  top:60px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u205 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u206 {
  position:absolute;
  left:60px;
  top:60px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u207 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u208 {
  position:absolute;
  left:80px;
  top:60px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u209 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u210 {
  position:absolute;
  left:100px;
  top:60px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u211 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u212 {
  position:absolute;
  left:120px;
  top:60px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u213 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u214 {
  position:absolute;
  left:0px;
  top:80px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u215 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u216 {
  position:absolute;
  left:20px;
  top:80px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u217 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u218 {
  position:absolute;
  left:40px;
  top:80px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u219 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u220 {
  position:absolute;
  left:60px;
  top:80px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u221 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u222 {
  position:absolute;
  left:80px;
  top:80px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u223 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u224 {
  position:absolute;
  left:100px;
  top:80px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u225 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u226 {
  position:absolute;
  left:120px;
  top:80px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u227 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u228 {
  position:absolute;
  left:0px;
  top:100px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u229 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u230 {
  position:absolute;
  left:20px;
  top:100px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u231 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u232 {
  position:absolute;
  left:40px;
  top:100px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u233 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u234 {
  position:absolute;
  left:60px;
  top:100px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u235 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u236 {
  position:absolute;
  left:80px;
  top:100px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u237 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u238 {
  position:absolute;
  left:100px;
  top:100px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u239 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u240 {
  position:absolute;
  left:120px;
  top:100px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u241 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u242 {
  position:absolute;
  left:10px;
  top:35px;
  width:17px;
  height:14px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:11px;
  text-align:center;
}
#u242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:14px;
}
#u243 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u244 {
  position:absolute;
  left:130px;
  top:35px;
  width:17px;
  height:14px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:11px;
  text-align:center;
}
#u244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:14px;
}
#u245 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u246 {
  position:absolute;
  left:30px;
  top:35px;
  width:17px;
  height:14px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:11px;
  text-align:center;
}
#u246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:14px;
}
#u247 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u248 {
  position:absolute;
  left:50px;
  top:35px;
  width:17px;
  height:14px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:11px;
  text-align:center;
}
#u248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:14px;
}
#u249 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u250 {
  position:absolute;
  left:70px;
  top:35px;
  width:17px;
  height:14px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:11px;
  text-align:center;
}
#u250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:14px;
}
#u251 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u252 {
  position:absolute;
  left:90px;
  top:35px;
  width:17px;
  height:14px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:11px;
  text-align:center;
}
#u252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:14px;
}
#u253 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u254 {
  position:absolute;
  left:110px;
  top:35px;
  width:17px;
  height:14px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:11px;
  text-align:center;
}
#u254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:14px;
}
#u255 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
